* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /*Colors*/
  --light-purple: hsl(254, 88%, 90%);
  --dark-purple:  hsl(256, 67%, 59%);
  --light-yellow: hsl(31, 66%, 93%);
  --dark-yellow: hsl(39, 100%, 71%);
  --black: hsl(0, 0%, 7%);
  --white: hsl(0, 0%, 100%);

  /*Font*/
  --body-font-size: 1.125rem; /*18px*/
  --font-fam: "DM Sans", sans-serif;
  --small-weight: 400;
  --big-weight: 500;

}

body {
  font-family: var(--font-fam);
  height: 100vh;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: 
  "one two two three"
  "four five six three"
  "four seven eight eight";
  place-items: center;
}

.card {
 width: 100%;
 border-radius: 10px;
}
.box-1 {
  grid-area: one;
  background-color: var(--light-yellow);
}

.box-2 {
  grid-area: two;
  background-color: var(--dark-purple);
}

.box-3 {
  grid-area: three;
  background-color: var(--light-purple);
}

.box-4 {
  grid-area: four;
  background-color: var(--dark-yellow);
}

.box-5 {
  grid-area: five;
  background-color: var(--white);
}

.box-6 {
  grid-area: six;
  background-color: var(--dark-yellow);
}

.box-7 {
  grid-area: seven;
  background-color: var(--white);
}

.box-8 {
  grid-area: eight;
  background-color: var(--dark-purple);
}










/*Author Stuff*/
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }