* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /*Colors*/
  --light-purple: hsl(254, 88%, 90%);
  --dark-purple:  hsl(256, 67%, 59%);
  --light-yellow: hsl(31, 66%, 93%);
  --dark-yellow: hsl(39, 100%, 71%);
  --black: hsl(0, 0%, 7%);
  --white: hsl(0, 0%, 100%);

  /*Font*/
  --body-font-size: 1.125rem; /*18px*/
  --font-fam: "DM Sans", sans-serif;
  --small-weight: 400;
  --big-weight: 500;

}

body {
  font-family: var(--font-fam);
  height: 100vh;
  background-color: whitesmoke;
}

.grid-container {
  display: grid;
  grid-template-areas: 
  "one two two three"
  "four five six three"
  "four seven eight eight";
  gap: 3rem;
  height: 50%;
  width: 50%;
}

.card {
 border-radius: 10px;
 font-size: var(--body-font-size);
}


.box-1 {
  grid-area: one;
  background-color: var(--light-yellow);
  padding: 50px;
  
}

.box-1 h1 {
  font-weight: var(--big-weight);
  font-size: 4rem;
  text-align: left;
  line-height: 1;
  margin-top: 3rem;
}

.box-1 img {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 2rem;
}

.box-1 .i {
  color: var(--dark-purple);
  font-style: italic;
}


.box-2 {
  grid-area: two;
  background-color: var(--dark-purple);
  color: var(--white);
}

.box-2 h1 {
  font-size: 5.5rem;
  font-weight: var(--big-weight);
  text-align: center;
  margin-bottom: 0.5rem;
  line-height: 1.5;
}

.box-2 img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.box-2 p {
  font-size: 2.5rem;
  text-align: center;
  margin-top: 1rem;

}

.box-2 .i {
  font-style: italic;
}

.box-2 .y {
  color: var(--dark-yellow);
}




.box-3 {
  grid-area: three;
  background-color: var(--light-purple);
  width: 40rem;
}

.box-3 h1 {
  font-size: 5rem;
  font-weight: var(--big-weight);
  margin-top: 7rem;
  margin-left: 4rem;
}

.box-3 img {
  margin-left: 4rem;
  margin-top: 2rem;
  width: 140%;
  clip-path: inset(0 36% 0 0);
  object-fit: cover;
}

.box-3 p {
  font-size: 3rem;
  margin-top: 2rem;
  margin-left: 4rem;
  font-weight: var(--small-weight);
}





.box-4 {
  grid-area: four;
  background-color: var(--dark-yellow);
  padding: 50px;
}

.box-4 h1 {
  font-size: 5rem;
  font-weight: var(--big-weight);
  margin-top: 2rem;
  line-height: 1;
}

.box-4 img {
  margin-top: 7rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}



.box-5 {
  grid-area: five;
  background-color: var(--white);
  padding: 40px;
}

.box-5 img {
  margin-top: 2rem;
  margin-left: 2rem;
}

.box-5 h1 {
  font-size: 5rem;
  text-align: left;
  font-weight: var(--big-weight);
  margin-top: 5rem;
  margin-left: 2rem;
}


.box-6 {
  grid-area: six;
  background-color: var(--dark-yellow);
  padding: 40px;
}

.box-6 h1 {
  font-size: 5.4rem;
  text-align: left;
  line-height: 1;
  margin-bottom: 1rem;
  font-weight: var(--big-weight);
}

.box-6 img {
  width: 100%;
  clip-path: inset(0 0 40% 0);
  margin-top: 2rem;

}



.box-7 {
  grid-area: seven;
  background-color: var(--white);
  padding: 50px;
}

.box-7 h1 {
  font-size: 5rem;
  text-align: left;
  margin-bottom: 1rem;
}

.box-7 p {
  font-size: 2.5rem;
  margin-bottom: 4rem;
}





.box-8 {
  grid-area: eight;
  background-color: var(--dark-purple);
  padding: 50px;
  width: 82rem;
}

.box-8 img {
  margin-left: 2rem;
  float: left;
}

.box-8 h1 {
  font-size: 5.5rem;
  color: var(--white);
  font-weight: var(--big-weight);
  margin-top: 3rem;
  text-align: left;
  margin-left: 35rem;
}








/*Author Stuff
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
*/